<html>
  <head>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body class="content">
    <%= qr_html %>
    <div class="edge edge--top-left"><div class="inner-edge"></div></div>
    <div class="edge edge--top-right"><div class="inner-edge"></div></div>
    <div class="edge edge--bottom-left"><div class="inner-edge"></div></div>
  </body>
</html>
